<header class="bg-white">
    <div class="max-w-4xl mx-auto py-6">
        <ul class="flex items-center justify-between">
            <li>
                <a class="text-xl font-bold" href="/">EAT Starter</a>
            </li>
            <li class="hidden lg:block">
                <ul class="flex space-x-6 text-sm">
                    <li><a class="" href="#">About</a></li>
                    <li><a class="" href="#">Docs</a></li>
                    <li><a class="" href="#">Github</a></li>
                    <li><a class="" href="#">Support</a></li>
                </ul>
            </li>
            <li class="lg:hidden">
                <a href="#">☰</a>
            </li>
        </ul>
    </div>
</header>
