<!DOCTYPE html>
<html lang="{{ config.lang }}" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Favicon -->
    {% favicon 'src/_static/images/favicon.png' %}

    <!-- SEO -->
    {% block seo %}
    <title>{{ seotitle or title }}</title>
    <meta name="robots" content="{{ seorobots }}" />
    <meta name="description" content="{{ seodesc }}" />
    <link rel="canonical" href="{{ config.url }}{{ page.url }}" />
    {% endblock %}

    <!-- CSS -->
    {% block css %}
    <link
      rel="preload"
      href="/assets/css/tailwind.dist.css?v={{ config.timestamp }}"
      as="style"
    />
    <link
      rel="stylesheet"
      href="/assets/css/tailwind.dist.css?v={{ config.timestamp }}"
    />
    {% endblock %}

    <!-- JS -->
    {% block js %}
    <link rel="preload" href="/assets/js/alpine.dist.js" as="script" />
    <link rel="preload" href="/assets/js/app.dist.js" as="script" />
    <script
      defer
      src="/assets/js/app.dist.js?v={{ config.timestamp }}"
    ></script>
    <script
      defer
      src="/assets/js/alpine.dist.js?v={{ config.timestamp }}"
    ></script>
    {% endblock %}

    <!-- OG -->
    {% block facebook %}
    <meta property="og:title" content="{{ seotitle or title }}" />
    {% if seodesc %}
    <meta property="og:description" content="{{ seodesc }}" />
    {% endif %}
    <meta
      property="og:image"
      content="{{ config.url }}/_static/images/ogimage.png"
    />
    {% endblock %}

    <!-- Twitter Meta Tags -->
    {% block twitter %}
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="{{ config.domain }}" />
    <meta property="twitter:url" content="{{ config.url }}{{ page.url }}" />
    <meta name="twitter:title" content="{{ seotitle or title }}" />
    {% if seodesc %}
    <meta name="twitter:description" content="{{ seodesc }}" />
    {% endif %}
    <meta
      name="twitter:image"
      content="{{ config.url }}/_static/images/ogimage.png"
    />
    {% endblock %}
  </head>
  <body class="bg-white text-black">
    <!-- HEADER -->
    {% block header %}{% include "header.html" %}{% endblock %}

    <!-- CONTENT_main -->
    {% block content %}{{ content | safe }}{% endblock %}

    <!-- FOOTER -->
    {% block footer %}{% include "footer.html" %}{% endblock %}
  </body>
</html>
