<!DOCTYPE html>
<html lang="{{ site.lang }}" class="scroll-smooth">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ seotitle or title }}</title>
        <meta name="robots" content="{{ seorobots }}" />
        <meta name="description" content="{{ seodesc }}" />
        <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
        <link
            rel="stylesheet"
            href="/assets/css/tailwind.dist.css?v={{ build.timestamp }}"
        />

        <script src="/assets/js/scripts.dist.js?v={{ build.timestamp }}"></script>
    </head>
    <body class="bg-white-50">
        {% include "header.html" %} {% if intro %} {% include "intro.html" %} {%
        endif %}

        <main class="hidden">{{ content | safe }}</main>

        {% include "footer.html" %}
    </body>
</html>
