<!DOCTYPE html>
<html lang="{{ site.lang }}" class="scroll-smooth bg-neutral-200">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ seotitle or title }}</title>
        <meta name="robots" content="{{ seorobots }}" />
        <meta name="description" content="{{ seodescription }}" />
        <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
        <link
            rel="stylesheet"
            href="/assets/css/tailwind.dist.css?v={{ build.timestamp }}"
        />
        <script
            defer
            src="/assets/js/alpine.dist.js?v={{ build.timestamp }}"
        ></script>
    </head>
    <body class="min-h-screen bg-gray-100">
        {{ content | safe }}
    </body>
</html>
