---
layout: base.html
---

<div class="max-w-7xl mx-auto mt-12 px-8">
    <div class="grid grid-cols-3 gap-8 grid-row-2">
        <div
            class="p-8 hover:bg-gray-300 bg-gray-100 rounded-lg col-span-2 aspect-video"
        ></div>
        <div class="p-8 bg-gray-100 rounded-lg hover:bg-gray-300"></div>
        <div class="p-8 bg-gray-100 rounded-lg hover:bg-gray-300"></div>
        <div class="p-8 bg-gray-100 rounded-lg hover:bg-gray-300"></div>
        <div class="p-8 bg-gray-100 rounded-lg hover:bg-gray-300"></div>
    </div>
</div>

<article class="mx-auto max-w-2xl prose p-12 bg-white rounded-xl">
    <details class="py-6 bg-slate-50">
        <summary class="cursor-pointer">Table of contents</summary>
        {{ content | toc | safe }}
    </details>

    {{ content | safe }}
</article>
